{% extends 'base.html.twig' %}

{% block body %}
  {# {{$_SESSION.Entity}} #}
  <ul>
    {% if records is not empty %}
      {% for record in records %}
        <li class="list">
          <a href="/student/{{ record.id }}/view">{{ record.name }}</a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
  <a href="/student/new">Add New Article</a>
{% endblock %}
