{% extends 'base.html.twig' %}

{% block body %}
  <form action="/student/{{ record.id }}/remove" method="post">
    Do Really Want To Delete the record
    <button>Yes</button>
    <a href="/student/{{ record.id }}/view">Cancel</a>
  </form>
{% endblock %}
