{% extends 'base.html.twig' %}

{% block body %}
  {% if errors is not empty %}
    {% if csrf_token is not empty %}

    {% endif %}
    <ul>
      {% for error in errors %}
        <li class="error">{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form action="/student/process" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" />
    <label for="fathername">Father Name</label>
    <input type="text" name="fathername" />
    <label for="email">Email</label>
    <input type="email" name="email" />
    <label for="hobby">Hobby</label>
    <input type="text" name="hobby" />
    <input type="hidden" name="_token" value="{{ csrf_token }}" />
    <button type="submit">Submit</button>
  </form>
  <a href="/student/all">All Student</a>
{% endblock %}
