<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .error {
        color: red;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .list {
        list-style-type: none;
        font-weight: 600;
        padding: 6px;
      
        margin-top: 10px;
        margin-bottom: 5px;
      
        gap: 10px;
      
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css/dist/dark.min.css" />

    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    {% block body %}

    {% endblock %}
  </body>
</html>
