{% extends 'base.html.twig' %}

{% block body %}
  <ul>
    {% if records is not empty %}
      {{ message }}
      {% for record in records %}
        <li class="list">
          <a href="/article/{{ record.id }}/view">{{ record.title }}</a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
  <a href="/article/new">Add New Article</a>
{% endblock %}
