{% extends 'base.html.twig' %}

{% block body %}
  <form action="article/process" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" />
    <label for="text">Description</label>
    <input type="text" name="description" />
    <button type="submit">Submit</button>
  </form>
{% endblock %}
