{% extends 'base.html.twig' %}

{% block body %}
  {% if record is not empty %}
    <h2>{{ record.title }}</h2>
    <div>{{ record.description }}</div>
    <button><a href="/article/{{ record.id }}/edit">Edit</a></button>
    <button><a href="/article/{{ record.id }}/delete">Delete</a></button>
    <div>
      <a href="/article/all">Back To All Article</a>
    </div>
  {% endif %}
{% endblock %}
